fastapi
uvicorn
pdfplumber
spacy
python-multipart
python-docx
sentence-transformers
gspread
google-auth
python-dotenv
pymupdf
pytesseract
pillow
jinja2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl